NEMESIS_URL=https://localhost:7443/
GRAFANA_ADMIN_PASSWORD=Qwerty12345
GRAFANA_ADMIN_USER=nemesis
JUPYTER_PASSWORD=Qwerty12345
MINIO_ROOT_PASSWORD=Qwerty12345
MINIO_ROOT_USER=nemesis
POSTGRES_PASSWORD=Qwerty12345
POSTGRES_USER=nemesis
RABBITMQ_PASSWORD=Qwerty12345
RABBITMQ_USER=nemesis

# Optional
# APPRISE_URLS=slack://Nemesis@T...6x/#nemesis-testing,slack://Nemesis@T...k/#nemesis-feedback?tag=feedback