NEMESIS_URL=https://localhost:7443/
MINIO_ROOT_PASSWORD=Qwerty12345
MINIO_ROOT_USER=nemesis
POSTGRES_PASSWORD=Qwerty12345
POSTGRES_USER=nemesis
RABBITMQ_PASSWORD=Qwerty12345
RABBITMQ_USER=nemesis

# Setup users (default is 'n:n'). Define multiple users by separating them with a comma.
# - CLI using the htpasswd (from apache2-utils):
#   - echo asdf | htpasswd -nmi myusername
# - Online generator: https://htpasswd.utils.com/
#
# Example: Defining the users 'alice' and 'bob'
#   BASIC_AUTH_USERS='alice:$apr1$dVGX3WZH$r2b86WcF/F0oSxVivfLMg.,bob:$apr1$ZJIjt2ti$nbXWdeIQfQzKmWSMTsrW9/'

# (Optional) Alerting configuration for Apprise.
# APPRISE_URLS=slack://Nemesis@T...6x/#nemesis-testing,slack://Nemesis@T...k/#nemesis-feedback?tag=feedback

# (Optional) Jupyter credentials. Enable the jupyter by using the "analysis" docker compose profile (e.g., "--profile analysis")
# If not defined, a random password will be generated and printed in the jupyter container's logs.
# JUPYTER_PASSWORD=Qwerty12345
