# General options

# The nemesis_http_server must match the port of the ingress-nginx-controller service in skaffold.yaml (port 8080 by default)
nemesis_http_server: http://<IP of k8s host>:8080/
assessment_id: ASSESS-TEST
data_expiration_days: 100
log_level: INFO


# Slack Alerting
disable_slack_alerting: False
slack_channel: "<#ASSESSMENT_CHANNEL>"
slack_webhook: https://<Slack webhook>


# OPTIONAL: Keep your sanity by setting the same password for some commonly accessed services
# basic_auth_password: PASSWORD
# dashboard_password: PASSWORD
# elasticsearch_password: PASSWORD
# pgadmin_password: PASSWORD
# rabbitmq_admin_password: PASSWORD


# Default users
basic_auth_user: nemesis
elasticsearch_user: nemesis
grafana_user: nemesis
pgadmin_email: nemesis@nemesis.com
postgres_user: nemesis
dashboard_user: nemesis
rabbitmq_admin_user: nemesis


# Storage
minio_root_user: nemesis
minio_storage_size: 30Gi
storage_provider: minio
