apiVersion: apps/v1
kind: Deployment
metadata:
  name: tensorflow-serving
  labels:
    app: tensorflow-serving
    component: enrichment-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tensorflow-serving
  strategy: {}
  template:
    metadata:
      labels:
        app: tensorflow-serving
    spec:
      containers:
        - env:
            - name: model_config_file
              value: /app/cmd/tensorflow-serving/models/models.config
          image: tensorflow-serving
          name: tensorflow-serving
          ports:
            - containerPort: 8501
              name: tensorflow-http
          resources: {}
          readinessProbe:
            tcpSocket:
              port: 8501
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 10
      restartPolicy: Always
status: {}
