.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.file.name {
  font-size: 1.5rem;
  text-align: left;
  color: rgb(90, 90, 90);
}

.file.name.desc {
  font-size: 1rem;
  text-align: left;
  color: rgb(90, 90, 90);
  padding-top: 10px;
}

.officebackground {
  background-color: #BAD2DE !important;
}

.assemblybackground {
  background-color: #f48b70 !important;
}

.smallheader {
  font-size: small !important;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50px;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  height: 200px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/*

Tags

Adapted from https://codepen.io/Metty/pen/qBdRBLd

*/

.tags {
  margin-top: 10;
  margin-bottom: 10;
  flex-grow: 1;
}

.tag {
  display: inline-block;
  border-radius: 3px;
  padding: .2em .5em .3em;
  border-radius: 2px;
  background: #454e56;
  color: #b2becd;
  font-weight: 600;
  margin: .25em .1em
}

h1.tag {
  margin-left: 0;
  margin-right: 0
}

.tag-sm {
  font-size: .7em;
  display: inline-block;
  letter-spacing: .15ch;
  font-weight: 400
}

.tag-lg {
  font-size: 1.2em;
  border-radius: 4px
}

.tag-pro {
  background: #09c372;
  color: #fff
}

.tag-contains-dpapi {
  background: #f0db4f;
  color: #000
}

.tag-parsed-credentials {
  color: #ffda5d;
  background: #3879ab
}

.tag-deserialization {
  color: #fff;
  background: #ff3e00
}

.tag-command-execution {
  color: #fff;
  background: #ff3e00
}

.tag-encrypted {
  background: #41b883;
  color: #35495e
}

.tag-yara-matches {
  background: #498afb;
  color: #fff
}

.tag-noseyparker-results {
  background: #54c5f8;
  color: #003b6c
}

.tag-above-size-limit {
  background: #dc0530;
  color: #fff
}
